#card{
    /*border-radius: 1em;*/
    text-align: center;
    top: 13em;
    position:absolute;
    height:auto;
    width: auto;
    background: hsla(0,0%,100%,.1) ;
    backdrop-filter: blur(.1em);
    color: white;
    transition: transform 1s ease-in-out;
}
#card:hover{
    transform: scale(1.30);
}
.card-container:hover::after{
    filter: blur(0);
    -webkit-filter: blur(0);
}

.card-container:hover .animated{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    transition: 3s ease-in-out;
}
a{
    text-decoration: none;
    font-size: 1.4em;
}
nav {
    margin-top: 2.5em;
    display: flex;
    justify-content: space-between;
}
a:hover .icon{
    color: white;
    filter: drop-shadow(0 0 2px rgba(255,255,255,0.7)) drop-shadow(0 0 5px rgba(255,255,255,0.7)) drop-shadow(0 0 15px rgba(255,255,255,0.7));
}
@media screen and(max-width:425px){#card{height:18em;width:19em;} #card:hover{transform:none;} canvas{height: 54.45em;}}
@media screen and(min-width:2560px){#card{width: 45em;height: 20em;} .icon{font-size: 2em;}}